<main class='mx-auto max-w-lg my-10 px-4'>
  <h1 class='font-bold text-2xl sm:text-4xl'>
    Built with<br /><a href='#' class='link-primary'>mdominiak/rails-template</a>
  </h1>

  <p class='mt-6'>
    Rails template with Devise, TailwindCSS dark theme and Docker configuration.
    See <%= link_to 'source code', 'https://github.com/mdominiak/rails-template', class: 'link-primary' %> on GitHub.
  </p>
</main>
